.mySwiper {
  width: 100%;
  margin-top: 2rem;
}

.mySwiperThumbs {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
  padding-block: 0.5rem !important;
}

.activeThumb {
  border: solid 0.3rem var(--dark);
}

.thumb {
  width: 10% !important;
  min-width: 5rem;
}

.mySwiperThumbs .slide {
  width: 100%;
  height: auto;
  transition: box-shadow 0.2s ease-in-out;
}

.slide {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 0.6rem;
}

.expand {
  position: absolute;
  top: 0;
  right: 0;
  width: 2.5rem;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0 0.6rem 0 0.6rem;
  cursor: pointer;
}

.expand img {
  display: block;
  width: 100%;
  height: auto;
}

.zoomedContainer {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
}

.zoomedContainer > div {
  width: 100%;
}

.zoomedImage {
  display: block;
  width: 80%;
  height: auto;
  margin: auto;
}

@media (max-width: 1024px) {
  .mySwiper {
    padding-inline: 3rem !important;
  }
}
